.BackgroundImage {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 110%;
  width: auto;
  z-index: -1000;
}

.NavigationPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, .5);
}

.NavigationPanel > ul {
  margin: 0;
  padding: 0;
}

.HorizontalPanel > li {
  display: inline;
}

.NavigationPanel button {
  text-decoration: none;
  font: normal 17px Courier;
  font-weight: bold;
  padding: 0.3em;
  width: 128px;
  background: rgba(255, 255, 255, .8);
  border: 1px solid #b19891;
  color: darkmagenta;
}

.PageContent {
  margin: 100px 5px auto;
  padding: 20px;
  background: rgba(255, 255, 255, .8);
}

.PageContent h1 {
  font: normal 50px Courier;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 510px){
    .PageContent h1{
        font: normal 20px Courier;
        font-weight: bold;
    }
}

.PageContent p, li {
  font: normal 23px Arial;
  line-height: 30px;
  text-align: justify;
  text-indent: 20pt;
}

@media (max-width: 510px){
    .PageContent p, li {
        font: normal 12px Arial;
        line-height: 15px;
        text-indent: 5pt;
    }
}

.ImageContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
}

.ImageContainer > img{
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.BigImageContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background: url(resources/powerLines.jpg) no-repeat;
  -moz-background-size: 300%;
  -webkit-background-size: 300%;
  -o-background-size: 300%;
  background-size: 300%;
}

.BigImageContainer > img{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.BigImageContainer > button{
  position: absolute;
}

.Icon {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: rgba(255, 255, 255, .0) url(data/icons/icons.png) no-repeat;
}

.Icon.CloseReview {
  background-position: 0 -50px;
  cursor: pointer;
  top: 5%;
  right: 10%;
}

.Icon.GoPrevious {
  background-position: 0 0;
  cursor: pointer;
  top: 50%;
  left: 10%;
}

@media (max-width: 500px){
    .GoPrevious, .GoNext {
        opacity: 0;
    }

    .GoPrevious:hover, .GoNext:hover {
        opacity: 1;
    }
}

.Icon.GoNext {
  background-position: -50px 0;
  cursor: pointer;
  top: 50%;
  right: 10%;
}
