body {
    background: url(resources/powerLines.jpg) center center no-repeat fixed #4B0082;
    background-size: cover;
}

.NavigationPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .5);
}

.NavigationPanel > ul {
    margin: 0;
    padding: 0;
}

.HorizontalPanel > li {
    display: inline;
}

.NavigationPanel button {
    text-decoration: none;
    font: normal 15px Arial;
    font-weight: bold;
    padding: 0.3em;
    width: 128px;
    background: rgba(255, 255, 255, .8);
    border: 1px solid #b19891;
    color: darkmagenta;
}

.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}

.Footer p {
    font: normal 20px Arial;
    margin: 5px;
}

@media (max-width: 500px){
    .Footer {
        visibility: hidden;
    }
}

.PageContent {
    margin: 100px 5px 100px;
    padding: 20px;
    background: rgba(255, 255, 255, .9);
}

.PageContent h1 {
    font: normal 50px Courier;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 500px){
    .PageContent {
        margin: 100px 5px auto;
    }

    .PageContent h1{
        font: normal 20px Courier;
        font-weight: bold;
    }
}

.PageContent > p, li {
    font: normal 23px Arial;
    line-height: 30px;
    text-align: justify;
    text-indent: 20pt;
}

@media (max-width: 510px){
    .PageContent > p, li {
        font: normal 12px Arial;
        line-height: 15px;
        text-indent: 5pt;
    }
}

.ImageContainer {
    margin: 20px;
    display: inline-block;
}

.ImageContainer > img{
    cursor: pointer;
    max-width: 100%;
    display: block;
}

.ImageContainer > img:hover {
    box-shadow: 0 0 10px 3px rgba(148, 0, 211, .3);
}

.ImageContainer {
    vertical-align: top;
    padding: 16px;
    background: rgba(255, 255, 255, .7);
    height: 270px;
}

.ImageContainer p {
    width: 200px;
    height: auto;
    font: normal 12px Arial;
    text-align: center;
}

.BigImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background: url(resources/powerLines.jpg) center center no-repeat fixed #4B0082;
    background-size: cover;
}

.BigImageContainer > img{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.BigImageContainer > button{
    position: absolute;
}

.Icon {
    position: absolute;
    width: 50px;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, .6) url(data/icons/icons.png) no-repeat;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .6);
}

.Icon:hover {
    background: rgba(255, 255, 255, .8) url(data/icons/icons.png) no-repeat;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .8);
}

.Icon.CloseReview {
    background-position: 0 -50px;
    cursor: pointer;
    top: 2%;
    right: 2%;
}

.Icon.GoPrevious {
    background-position: 0 0;
    cursor: pointer;
    top: 50%;
    left: 2%;
}

@media (max-width: 500px){
    .GoPrevious, .GoNext {
        opacity: 0;
    }

    .GoPrevious:hover, .GoNext:hover {
        opacity: 1;
    }
}

.Icon.GoNext {
    background-position: -50px 0;
    cursor: pointer;
    top: 50%;
    right: 2%;
}
